{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="container">
    {% for post in posts %}
        <div class="jumbotron">
            <h1 class="display-4">{{ post.title }}</h1>
            <p class="lead">{{ post.body }}</p>
            <a href="/post/{{ post.id }}" class="btn btn-primary btn-lg">More</a>
        </div>
    {% endfor %}
</div>
{% endblock %}
